.homepage__concerts-wrapper
  - concerts.each do |concert|
    = render 'concert', concert: concert
  = button_tag t('homepage.all_concerts'), type: 'button', class: "button button__desktop-button homepage__button homepage__button--more-concerts", onclick: "location.href = '#{concerts_path}'"
