.bio {
  @media(min-width: $screen-md) {
    background-image: none;
    max-height: 90vh;
    overflow: scroll;
    -webkit-box-shadow:  0px 6px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:  0px 6px 16px 0px rgba(0,0,0,0.2);
    box-shadow:  0px 6px 16px 0px rgba(0,0,0,0.2);
    background-color: $white;
  }

  &__wrapper {
    background: $grey-light;
    padding: 15px 35px 35px 35px;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.2);
    padding-top: 50px;
    @media(min-width: $screen-md) {
      background-color: $white;
      padding: 45px 115px 35px 115px;
    }
  }

  &__row {
    margin: 0;
    @media(min-width: $screen-md) {
      display: flex;
      flex-direction: row;
    }
  }

  &__header-photo {
    width: 100%;
    background-position: 0 50%;
    height: 600px;
    @include cover-bg;
    background-image: image-url('bio/01_section_photo.jpg');
    @media(min-width: $screen-md) {
      @include parallax-bg;
      height: 400px;
      width: 110%;
      min-width: 370px;
    }
  }

  &__section-photo {
    width: 100%;
    @include cover-bg;
    height: 600px;
    &--first {
      background-image: image-url('bio/01_section_photo.jpg');
    }
    &--second {
      background-image: image-url('bio/02_section_photo.jpg');
    }
    &--third {
      background-image: image-url('bio/03_section_photo.jpg');
    }

    @media(min-width: $screen-md) {
      height: auto;
      width: 110%;
    }
  }

  &__photo-subtitle {
    font-style: italic;
    text-align: center;
    font-size: $fs-5;
    margin-top: 15px;
    margin-bottom: 0;
    @media(min-width: $screen-md) {
      display: none;
    }
  }

  &__container {
    padding: 0 8%;
    margin: 110px 0;
    &::last-child {
      margin-top: 95px;
    }
    @media(min-width: $screen-md) {
      margin: 0;
      display: flex;
      align-items: center;
      padding: 30px 5%;
    }

    &--order-first {
      order: -1
    }

    &--order-second {
      order: 2
    }
  }

  &__text {
    font-size: $fs-4;
    line-height: 60px;
    margin-bottom: 30px;
    @media(min-width: $screen-md) {
      margin-bottom: 15px;
      line-height: 25px;
      font-size: $fs-9;
    }
  }

  &__intro {
    &::first-letter {
      initial-letter: 5;
    }
  }
}
