.concerts {
  flex: 1;
  @media(min-width: $screen-md) {
    min-height: 100%;
    background-image: image-url('desktop_concerts_bg.svg');
    @include cover-bg;
    background-attachment: fixed;
    background-position: 0px 0px;
    padding: 0 130px;
  }

  @media(min-width: $screen-lg) {
    padding: 0 250px;
  }

  &__years-slider-mobile-container {
    overflow-x: scroll;
    display: flex;
    margin-bottom: 100px;
    margin-top: 40px;
    background: $green;
    padding: 20px 0;
    @media(min-width: $screen-md) {
      display: none;
    }
  }

  &__years-slider-container {
    -webkit-box-shadow:  0px 6px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:  0px 6px 16px 0px rgba(0,0,0,0.2);
    box-shadow:  0px 6px 16px 0px rgba(0,0,0,0.2);
    background-color: $white;
    overflow-x: scroll;
    display: flex;
    margin-bottom: 100px;
    margin-top: 40px;
    padding: 20px 0;
    flex-direction: column;
    padding-left: 50px;
    @media(max-width: $screen-md) {
      display: none;
    }
  }

  &__year-link {
    color: $white;
    margin-right: 30%;
    font-size: $fs-1;
    position: relative;
    &:focus,
    &:active {
      color: $orange;
    }
    @media(min-width: $screen-md) {
      position: relative;
      color: $black;
      font-family: 'MontserratThin';
      left: 0px;
      transition: 0.15s;
      &:focus,
      &:active {
        font-family: 'MontserratRegular';
      }
      &:hover {
        left: 10px;
      }
    }
  }

  &__concerts-list-wrapper {
    min-height: 100%;
    @include cover-bg;
    background-image: image-url('mobile_concerts_bg.svg');
    @media(min-width: $screen-md) {
      background-image: none;
      padding-left: 25px;
      -webkit-box-shadow:  0px 6px 16px 0px rgba(0,0,0,0.2);
      -moz-box-shadow:  0px 6px 16px 0px rgba(0,0,0,0.2);
      box-shadow:  0px 6px 16px 0px rgba(0,0,0,0.2);
      background-color: $white;
      margin-top: 40px;
    }
  }

  &__concert {
    display: flex;
    margin: 30px auto;
  }

  &__concert-date-container {
    background: $beige;
    width: 125px;
    height: 125px;
    border: 6px solid $black;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(min-width: $screen-md) {
      border: 4px solid $black;
      width: 80px;
      height: 80px;
    }
  }

  &__concert-date-separator {
    width: 35%;
    margin: 3px auto;
    border-color: $black;
  }

  &__concert-details {
    display: flex;
    background: $white;
    height: 125px;
    width: 100%;
    border: 6px solid $black;
    padding-left: 20px;
    @media(min-width: $screen-md) {
      border: 4px solid $black;
      padding-left: 15px;
      width: 80%;
      min-width: 385px;
      max-width: 690px;
      height: 80px;
    }
    @media(min-width: $screen-lg) {
      padding-left: 30px;
    }
  }

  &__concert-name-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  &__concert-name {
    @media(min-width: $screen-md) {
      font-size: $fs-7;
    }
  }

  &__concert-location-details {
    display: flex;
    flex-direction: column;
    border-left: 3px solid $black;
    width: 30%;
    height: 100%;
    @media(min-width: $screen-md) {
      margin-left: 25px;
      width: 40%;
    }
  }

  &__concert-location {
    height: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 62.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(min-width: $screen-md) {
      line-height: 40px;
    }
    &--city {
      border-bottom: 3px solid $black
    }
    &--location {
      border-top: 3px solid $black
    }
  }

  &__concert-city,
  &__concert-venue {
    font-size: $fs-6;
    text-align: center;
    margin: auto;
    display: block;
    @media(min-width: $screen-md) {
      font-size: $fs-9;
    }
  }

  &__concert-date {
    text-align: center;
    display: block;
    font-size: $fs-5;
    @media(min-width: $screen-md) {
      font-size: $fs-7;
    }
  }
}
