.homepage {
  min-height: 85vh;

  @media(min-width: $screen-md) {;
    display: flex;
    min-height: 100%;
  }

  &__picture {
    @include parallax-bg;
    position: relative;
    background-image: image-url('balinski_marcel_mobile.jpg');
    width: 100%;
    height: 600px;
    @media(min-width: $screen-md) {
      height: 100vh;
      @include cover-bg;
      height: auto;
      width: 90%;
    }
  }

  &__social-icons {
    display: none;
    @media(min-width: $screen-md) {
      display: inline-block;
      margin-top: 20px;
    }
  }

  &__mobile-music-socials {
    position: absolute;
    right: 50px;
    top: 20px;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    @media(min-width: $screen-md) {
      display: none;
    }
  }

  &__picture-social-icons-container {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }

  &__picture-social-icon {
    background-color: $grey;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    &:first-child {
      margin-bottom: 15px;
    }

    &--instagram {
      background-image: image-url('icons/instagram_icon.svg')
    }
    &--facebook {
      background-image: image-url('icons/facebook_icon.svg')
    }
  }

  &__mobile-music-link {
    width: 110px;
    height: 110px;
    background-color: $beige;
    border-radius: 50%;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin: 12px auto;

    @each $provider in spotify, soundcloud, youtube {
      &--#{$provider} {
        background-image: image-url('music_socials_icons/#{$provider}_logo.svg')
      }
    }

    @media(min-width: $screen-md) {
      height: 90px;
      width: 90px;
      margin: 25px auto;
      transition: 0.15s;
      &:first-child {
        margin-top: 0;
      }
      &:hover {
        background-color: $orange;
      }
    }
  }

  &__concerts-wrapper {
    padding: 0 5%;
    position: relative;
    width: 100%;
    transform: translate(0, -70px);
    @media(min-width: $screen-md) {
      transform: translate(-50px, 0px);
      padding: 0;
    }
  }

  &__concert {
    display: flex;
    margin: 20px auto;
  }

  &__concert-date-container {
    background: $beige;
    width: 125px;
    height: 125px;
    border: 6px solid $black;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(min-width: $screen-md) {
      border: 4px solid $black;
      width: 80px;
      height: 80px;
    }
  }

  &__concert-date-divider {
    width: 35%;
    margin: 3px auto;
    border-color: $black;
  }

  &__concert-details-container {
    display: flex;
    background: $white;
    height: 125px;
    width: 100%;
    border: 6px solid $black;
    padding-left: 30px;
    justify-content: space-between;
    position: relative;
    @media(min-width: $screen-md) {
      border: 4px solid $black;
      padding-left: 15px;
      width: 90%;
      min-width: 385px;
      max-width: 640px;
      height: 80px;
    }
    @media(min-width: $screen-lg) {
      padding-left: 30px;
    }
  }

  &__concert-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__concert-extras {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__concert-festival,
  &__concert-description {
    font-size: $fs-6;
    display: block;
    margin: 5px auto;
    @media(min-width: $screen-md) {
      font-size: 1em;
    }
  }

  &__concert-name-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__concert-name {
    @media(min-width: $screen-md) {
      font-size: $fs-7;
    }
  }

  &__concert-location-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    @media(min-width: $screen-md) {
      margin-left: 25px;
      width: 35%;
    }
  }

  &__concert-location {
    height: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 62.5px;
    @media(min-width: $screen-md) {
      line-height: 40px;
    }
    &--city {
      border-bottom: 3px solid $black
    }
    &--location {
      border-top: 3px solid $black
    }
  }

  &__concert-city {
    font-size: $fs-6;
    @media(min-width: $screen-md) {
      font-size: $fs-9;
    }
  }

  &__concert-city,
  &__concert-name {
    margin: 5px 0;
    @media(min-width: $screen-md) {
      margin: 0;
    }
  }

  &__concert-date {
    text-align: center;
    display: block;
    font-size: $fs-5;
    @media(min-width: $screen-md) {
      font-size: $fs-7;
    }
  }

  &__button {
    &--more-concerts {
      float: right;
      @media(min-width: $screen-md) {
        float: left;
      }
    }
  }

  &__concert-link-container {
    display: none;
    @media(max-width: $screen-md) {
      &--mobile {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-left: 15px;
      }
    }
    @media(min-width: $screen-md) {
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      &--desktop {
        display: block;
      }
    }
  }

  &__concert-link {
    background-image: image-url('external_link.svg');
    width: 25px;
    height: 25px;
    @media(min-width: $screen-md) {
      width: 15px;
      height: 15px;
    }
  }
}
