@mixin parallax-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin contain-bg {
  background-attachment: scroll;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin cover-bg {
  background-attachment: scroll;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
