* {
  font-family: $primary-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font-bold;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
  color: $black;
}

h1 {
  font-size: $fs-1;
  margin-top: 0;
  @media(min-width: $screen-md) {
    font-size: $fs-2
  }
}

h2 {
  font-size: $fs-2;
  @media(min-width: $screen-md) {
    font-size: $fs-3;
  }
  margin: 0;
}
