.nav.hidden-xs.hidden-sm.d-flex.justify-content-end
  .ul.nav__menu-items
    - %w(bio concerts projects gallery press contact).each do |page|
      %li.nav__menu-item{ class: ("active" if controller_name == page) }
        = link_to page, controller: page, action: "index" do
          .nav__menu-item-container
            %span= t("navigation.#{page}")
