.news-item.col-xs-12
  .news-item__title-container
    %h1.news-item__title= @news.title
  .news-item__content-container
    %p.news-item__content= (sanitize @news.content.body.to_plain_text, tags: %w( iframe ), attributes: %w(src source width height))

