.projects__project-social-icons-container.col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-0
  - if project.spotify_link.present?
    = link_to project.spotify_link, class: "projects__social-icon-link" do
      .projects__social-icon.projects__social-icon--spotify
  - if project.instagram_link.present?
    = link_to project.instagram_link, class: "projects__social-icon-link" do
      .projects__social-icon.projects__social-icon--instagram
  - if project.youtube_link.present?
    = link_to project.youtube_link, class: "projects__social-icon-link" do
      .projects__social-icon.projects__social-icon--youtube
  - if project.fb_link.present?
    = link_to project.fb_link, class: "projects__social-icon-link" do
      .projects__social-icon.projects__social-icon--facebook
