$beige:                 #D7B298;
$black:                 #000000;
$black-transparent:     rgba(0, 0, 0, 0.2);
$green:                 #0A8869;
$green-light:           #14A27F;
$orange:                #F26C4F;
  $white:                 #FFFFFF;
