$beige:                 #D7B298;
$black:                 #000000;
$black-transparent:     rgba(0, 0, 0, 0.2);
$green:                 #0A8869;
$green-light:           #14a27f;
$grey:                  #7F7F7F;
$grey-light:            #F1F1F1;
$orange:                #F26C4F;
$white:                 #FFFFFF;
