$primary-font:               "MontserratRegular";
$primary-font-bold:          "MontserratBold";


$fs-1:                  5em;
$fs-2:                  2.5em;
$fs-3:                  1em;
$fs-5:                  28px;
$fs-6:                  24px;
$fs-7:                  20px;
$fs-8:                  16px;
$fs-9:                  14px;
$fs-10:                  12px;
