.button {
  background-color: $green;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $fs-7;

  &__desktop-button {
    font-size: $fs-10;
    padding: 10px 16px;
  }

  &--more-concerts {
    background-color: $orange;
  }

  &__buy-album {
    display: block;
    margin: auto;
    font-size: $fs-4;
    text-transform: uppercase;
    @media(min-width: $screen-md) {
      margin: 0;
      font-size: $fs-7;
    }
  }
}
