.header {
  padding: 0 20px;
  text-transform: uppercase;
  padding-top: 80px;
  margin: 50px 0;

  @media(min-width: $screen-md) {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 20px 130px 0 130px;
    position: fixed;
    width: 100%;
    background-color: $white;
    top: 0;
  }
  @media(min-width: $screen-lg) {
    padding: 20px 250px 0 250px;
  }

  &__language-switcher {
    background-color: $green;
    display: inline;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 10px;
    right: 0;
    @media(max-width: $screen-md) {
      display: none;
    }
  }

  &__language {
    color: $white;
  }
}
