$bar-width: 55px;
$bar-height: 8px;
$bar-spacing: 18px;

.nav {
  background: $green;
  height: 23px;
  display: flex;
  justify-content: flex-end;
  margin: 0 130px;

  @media(min-width: $screen-md) {
    margin: 0 0 0 130px;
    width: calc(100% - 260px);
    position: fixed;
    top: 83px;
  }

  @media(min-width: $screen-lg) {
    margin: 0 250px;
    width: calc(100% - 500px);
  }

  &__menu-item {
    display: inline-block;
    height: 100%;
    text-transform: uppercase;
    font-size: 0.8em;
    &.active {
      background: $orange;
      span {
        color: $white;
      }
    }
  }

  &__menu-item-container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
}

.mobile-nav {
  width: 100%;
  height: 80px;
  background-color: $green;
  padding: 0 20px;

  &__slider {
    width: 60%;
    height: 100vh;
    background: $orange;
    position: absolute;
    z-index: 5;
    left: -70%;
    transition-property: left;
    transition-duration: 0.5s;
    box-shadow: 0 0 0 0, 18px 0 20px -5px $black-transparent;
    &.active {
      left: 0;
    }
  }

  &__language-picker {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 70px;
    height: 70px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green-light;
    margin: auto 0;
  }

  &__language {
    text-decoration: none;
    font-size: 30px;
    color: $white;
  }

  /*
    BURGER MENU BUTTON START
  */

  &__burger-wrapper {
    position: absolute;
    top: 0;
    left: 20px;
    margin: auto 0;
    right: 0;
    bottom: 0;
    width: $bar-width;
    height: $bar-height + $bar-spacing*2;
    cursor: pointer;
  }

  &__hamburger-menu,
  &__hamburger-menu:after,
  &__hamburger-menu:before {
    width: $bar-width;
    height: $bar-height;
  }

  &__hamburger-menu {
    position: relative;
    transform: translateY($bar-spacing);
    background: rgba(255, 255, 255, 1);
    transition: all 0ms 300ms;

    &.animate {
      background: rgba(255, 255, 255, 0);
    }
  }

  &__hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background: rgba(255, 255, 255, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &__hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background: rgba(255, 255, 255, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &__hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
  }

  &__hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
  }
  /*
    BURGER MENU BUTTON END
  */
}
