.contact__mail-container.col-xs-8.col-xs-offset-2
  = mail_to Contact.first.email, "#{Contact.first.email}",class: "contact__mail-address"
  %span.contact__phone-number 0048535703666
  .contact__social-icons-container
    = link_to Contact.first.instagram, target: '_blank', class: "contact__social-icon-link" do
      .contact__social-icon.contact__social-icon--instagram
