.contact__mail-container.col-xs-8.col-xs-offset-2
  = mail_to "marcelbalinski@gmail.com", "marcelbalinski@gmail.com",class: "contact__mail-address"
  .contact__social-icons-container
    = link_to 'http://instagram.com/marcelbalinski', target: '_blank', class: "contact__social-icon-link" do
      .contact__social-icon.contact__social-icon--instagram
