.bio__row
  .bio__header-photo
.bio__wrapper
  .bio__row
    %p.bio__text.bio__intro= t('bio.intro')
  .bio__row
    %p.bio__text= t('bio.projects')
  .bio__row
    %p.bio__text= t('bio.awards')
  .bio__row
    %p.bio__text= t('bio.style')
